<div class="container">
    <div class="row">
        <div class="col-md-6 col-12">
            <h1 class="mt-4">Welcome to SOMark - Simple Online Markdown Editor!</h1>
            <p class="mt-2">
                SOMark allows you to easily edit Markdown files directly in your browser. Whether you're writing articles, notes, or documentation, SOMark provides convenient and intuitive tools for creating formatted text in Markdown format.
            </p>
            <p class="mt-2">
                Get started now and enjoy the simplicity and convenience of using SOMark!
            </p>
            <div class="mt-4">
                <p>Already have an account? <a href="/login"><button  class="btn btn-secondary">Login</button></a> </p>
            </div>
            <div class="mt-4">
                <p>Don't have an account yet? <a href="/register"><button class="btn btn-primary">Create now</button></a></p>
            </div>
        </div>
        <div class="col-md-6 col-12 mt-4 d-flex justify-content-center align-items-center">
            <img src="/images/index_screenshot.png" alt="promotional photo" style="width: auto; height: 85vh;">
        </div>
    </div>

</div>