<h1>#S-mark - simple markdown editor</h1>
<div>
    <p>Already have an account? <a href="/login"><button>Login</button></a> </p>

</div>
<div>
    <p>Don't have an account yet? <a href="/register"><button>Register</button></a></p>
</div>

