body{
    background-color: ghostwhite;
}
.CodeMirror,
.CodeMirror-scroll,#htmlPreview{
    min-height: 50vh;
    overflow-y: scroll;
    background-color: #fff;
}

.CodeMirror,
.CodeMirror-scroll, #htmlPreview {
    max-height: 69vh;
}
